.header {
  padding: 30px;
}
.header p{
	word-wrap: break-word;   
	max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
.features {
  padding: 30px;
}

.showcase {
  padding: 30px;
}

.footer {
  padding: 30px;
}
.footer form {
  margin: 0 auto;
}